---
layout: default
title: Blog
contentHeader: Our Posts
---
<div class="inline-block">
  {% for post in site.posts %}
  <span class="col-lg-4 col-md-6 col-sm-12 col-xs-12" style="display:inline-block;text-align:center;padding:0;margin:0;">
    <div class="panel panel-primary" style="height:250px; padding:0;margin:0;border-color:#777;">
       <div class="panel-heading" style="background-color:white; border-color:#777; color: #428bca; height:65px; overflow:auto">
         <div class="panel-title" style="width:100%; height:60%">
           <a href="{{ post.url }}" style="font-weight:bold;float:left;"> {{ post.contentHeader }}</a>
         </div>
         <div style="float:right; font-size:12px">{{ post.author}}, {{ post.date | date_to_string }}</div>
        </div>
       <div class="panel-body" style="background-color:white; color: #428bca; height:180px;">
         <div style="overflow-y:auto;height:140px;">{{ post.description }}</div>
         {% for tag in post.tags %}
         <p class="pull-right">&nbsp;</p>
         <span class="label label-primary pull-right">{{ tag }}</span>
         {% endfor %}
        </div>
    </div>
  </span>

  {% endfor %}
</div>
