<!DOCTYPE html>
 <html>
	<head>
		<title>CrazyCouple</title>
    <link rel="shortcut icon" href='{{ site.url }}/resources/We.jpg' />
		<link rel='stylesheet' href='{{ site.url }}/css/bootstrap.min.css' type='text/css'>
		<link rel='stylesheet' href='{{ site.url }}/css/Site.css' type='text/css'>
    <script src="{{ site.url }}/js/script.js"></script>
	</head>
	<body>
	<div id="pageContentId" class = "col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10">
		<div class="navbar navbar-inverse navbar-static-top">
			 <ul class="nav navbar-nav">
				 <li {% if page.title contains "About" %}class="active"{% endif %}><a href="{{ site.url }}/">About Us</a></li>
				 <li {% if page.title contains "Blog" %}class="active"{% endif %}><a href="{{ site.url }}/blog/">Blog</a></li>
				 <li {% if page.title contains "Development" %}class="active"{% endif %}><a href="{{ site.url }}/development/">Development</a></li>
			 </ul>
		</div>
		<div class ="contentWrapper">
      <h3 style="text-align:center">{{page.contentHeader}}</h3>
      <div class ="content">
			{{ content }}
      </div>
		</div>
	</div>
	</body>
</html>
